.THIS .demo-only{
    height:40%;
    width:30%;
    
}
.THIS.tile {
    position:relative;
    display: inline-block;
    width: 100px;
    height: 220px;
    padding: 1px !important;
}
.THIS.tile.selected{
    border: 3px solid rgb(102, 255, 255);
}
.THIS .innertile {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.THIS .innertile1{
    background-image: url(/resource/homebg1) 
}
.THIS .innertile2{
    background-image: url(/resource/homebg2) 
}
.THIS .innertile3{
    background-image: url(/resource/homebg3) 
}
.THIS .innertile4{
    background-image: url(/resource/homebg) 
}
.THIS .lower-third {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFFFFF;
    font-size:25px;
    background-color: rgba(0, 0, 0, .4);
    padding: 6px 8px;
}