<apex:component controller="Com_KnowledgeController">

  <apex:stylesheet value="{!$Page.Comodo_DesignCss}"/>
 
 <div id="maincore">

                  <div class="innerwrapper row">
                      <!--Start Mobile Search Box Top view --->
                      <div class="show-for-small-only">
                          <c:Com_KnowledgeSearchBoxComp />
                      </div>
                      <!--End Mobile Search Box Top view --->
                      
                     <!--Start Left side Box --->
                     <div id="maincoreleft" class="small-12 medium-4 large-3 columns">
                        <!-- Not required, Remove <c:Com_KnowledgeLoginComp /> -->
                        <div class="hide-for-small-only">
                            <c:Com_KnowledgeMostViewedComp />
                        </div>
                        
                     </div>
                     <!--End Left side Box --->
                     <!--Start Main content Box --->
                     <div id="maincorecontent" class="small-12 medium-8 large-9 columns">
                        
                        <div class="hide-for-small-only">
                          <c:Com_KnowledgeSearchBoxComp />
                        </div>
                        
                        <!--<c:Com_KnowledgeVideosComp />-->
                        
                        <c:Com_KnowledgeCategoryBoxes />
                           
                      <!-- commented on 5 feb 2019 to remove bottom section  <c:Com_KnowledgeArticleCategoryComp /> -->
                        
         
         </div>
         <!--End Main content Box--->
         </div>
         </div>
</apex:component>