<apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<apex:slds />
<script>
var j$ = jQuery.noConflict();
</script>
<style>
.slds-vertical-tabs__content {
    height: 600px;
}
.slds-scope .slds-vertical-tabs {
    border-color: #fff;
}
.slds-scope .slds-vertical-tabs__nav {
    background: #fff;
    width: 8rem;
}
.slds-scope .slds-vertical-tabs__nav-item {
    border-color: #fff;
}
.slds-scope .slds-vertical-tabs__nav-item.slds-is-active {
    border: 1px solid rgb(221, 219, 218);
    border-left: 3px solid #0a5a26;
}
</style>

<!--The Salesforce Lightning Design System Wrapping Div with Scoping Class -->
<div class="minerva18 slds-scope">
 
<!--The Salesforce Lightning Design System Tabs Component-->
<div class="slds-vertical-tabs">
  <ul class="slds-vertical-tabs__nav" role="tablist" aria-orientation="vertical">
         
    <li class="slds-vertical-tabs__nav-item slds-text-heading--label slds-is-active" title="Item One" role="presentation">
       <a class="slds-vertical-tabs__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-vertical-1" id="tab-vertical-1__item">
      Item One</a>
    </li>
    <li class="slds-vertical-tabs__nav-item slds-text-heading--label" title="Item Two" role="presentation">
       <a class="slds-vertical-tabs__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-vertical-2" id="tab-vertical-2__item">
       Item Two</a>
    </li>
    <li class="slds-vertical-tabs__nav-item slds-text-heading--label" title="Item Three" role="presentation">
       <a class="slds-vertical-tabs__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-vertical-3" id="tab-vertical-3__item">
       Item Three</a>
    </li>
  </ul>
  <div id="tab-vertical-1" class="slds-vertical-tabs__content slds-show" role="tabpanel" aria-labelledby="tab-vertical-1__item">
  
      
    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
      <thead>
        <tr class="slds-line-height_reset">
          <th class="slds-text-title_caps" scope="col">
            <div class="slds-truncate" title="Case number">Case number</div>
          </th>
          <th class="slds-text-title_caps" scope="col">
            <div class="slds-truncate" title="Status">Status</div>
          </th>
          <th class="slds-text-title_caps" scope="col">
            <div class="slds-truncate" title="Origin">Origin</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="slds-hint-parent">
          <th data-label="Case number" scope="row">
            <div class="slds-truncate" title="00123434"><a href="javascript:void(0);" tabindex="-1">00123434</a></div>
          </th>
          <td data-label="Status">
            <div class="slds-truncate" title="Inprogress">Inprogress</div>
          </td>
          <td data-label="Origin">
            <div class="slds-truncate" title="Email">Email</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <th data-label="Case number" scope="row">
            <div class="slds-truncate" title="003343434"><a href="javascript:void(0);" tabindex="-1">003343434</a></div>
          </th>
          <td data-label="Status">
            <div class="slds-truncate" title="Closed">Closed</div>
          </td>
          <td data-label="Origin">
            <div class="slds-truncate" title="Web">Web</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <th data-label="Case number" scope="row">
            <div class="slds-truncate" title="00123434"><a href="javascript:void(0);" tabindex="-1">00123434</a></div>
          </th>
          <td data-label="Status">
            <div class="slds-truncate" title="Inprogress">Inprogress</div>
          </td>
          <td data-label="Origin">
            <div class="slds-truncate" title="Email">Email</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <th data-label="Case number" scope="row">
            <div class="slds-truncate" title="003343434"><a href="javascript:void(0);" tabindex="-1">003343434</a></div>
          </th>
          <td data-label="Status">
            <div class="slds-truncate" title="Closed">Closed</div>
          </td>
          <td data-label="Origin">
            <div class="slds-truncate" title="Web">Web</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <th data-label="Case number" scope="row">
            <div class="slds-truncate" title="00123434"><a href="javascript:void(0);" tabindex="-1">00123434</a></div>
          </th>
          <td data-label="Status">
            <div class="slds-truncate" title="Inprogress">Inprogress</div>
          </td>
          <td data-label="Origin">
            <div class="slds-truncate" title="Email">Email</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <th data-label="Case number" scope="row">
            <div class="slds-truncate" title="003343434"><a href="javascript:void(0);" tabindex="-1">003343434</a></div>
          </th>
          <td data-label="Status">
            <div class="slds-truncate" title="Closed">Closed</div>
          </td>
          <td data-label="Origin">
            <div class="slds-truncate" title="Web">Web</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <th data-label="Case number" scope="row">
            <div class="slds-truncate" title="00123434"><a href="javascript:void(0);" tabindex="-1">00123434</a></div>
          </th>
          <td data-label="Status">
            <div class="slds-truncate" title="Inprogress">Inprogress</div>
          </td>
          <td data-label="Origin">
            <div class="slds-truncate" title="Email">Email</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <th data-label="Case number" scope="row">
            <div class="slds-truncate" title="003343434"><a href="javascript:void(0);" tabindex="-1">003343434</a></div>
          </th>
          <td data-label="Status">
            <div class="slds-truncate" title="Closed">Closed</div>
          </td>
          <td data-label="Origin">
            <div class="slds-truncate" title="Web">Web</div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div id="tab-vertical-2" class="slds-vertical-tabs__content slds-hide" role="tabpanel" aria-labelledby="tab-vertical-2__item">
      Item Two Content
  </div>
  <div id="tab-vertical-3" class="slds-vertical-tabs__content slds-hide" role="tabpanel" aria-labelledby="tab-vertical-3__item">
      Item Three Content
  </div>
</div>
 
</div>
<script>
 
/*SLDS Tabs JS*/
j$('.slds-vertical-tabs__link,.slds-tabs--scoped__link').click(function(){
  j$(this).parent().parent().find('.slds-vertical-tabs__link,.slds-tabs--scoped__link').attr('aria-selected','false');
  j$(this).attr('aria-selected','true');
  j$(this).parent().parent().find('.slds-vertical-tabs__link,.slds-tabs--scoped__link').attr('tabindex','-1');
  j$(this).attr('tabindex','0');
  j$(this).parent().addClass('slds-is-active').siblings().removeClass('slds-is-active');
  j$(this).parent().parent().parent().find('.'+j$(this).parent().parent().parent().find('.slds-vertical-tabs__content,.slds-tabs--scoped__content')[0].classList[0]).removeClass('slds-show').addClass('slds-hide');
  j$(this).parent().parent().parent().find('#'+j$(this).attr('aria-controls')).removeClass('slds-hide').addClass('slds-show');
}); 
/*SLDS Tabs JS*/
 
</script>
</html>
</apex:page>